<% layout('layouts/boilersplate') %>

    <body>

        <section class="bg-gray-100">
            <div class="mx-auto max-w-screen-xl px-4 py-16 sm:px-6 lg:px-8">
                <div class="grid grid-cols-1 gap-x-16 gap-y-8 lg:grid-cols-5">
                    <div class="lg:col-span-2 lg:py-12">
                        <h1 class="font-bold py-2 text-2xl ">Add New Listing</h1>
                        <p class="max-w-xl text-lg">
                            At the same time, the fact that we are wholly owned and totally independent from
                            manufacturer and other group control gives you confidence that we will only recommend what
                            is right for you.
                        </p>

                        <div class="mt-8">
                            <a href="#" class="text-2xl font-bold text-pink-600"> 0151 475 4450 </a>

                            <address class="mt-2 not-italic">282 Kevin Brook, Imogeneborough, CA 58517</address>
                        </div>
                    </div>

                    <div class="rounded-lg bg-white p-8 shadow-lg lg:col-span-3 lg:p-12">
                        <form action="/listing/newlisting" method="POST" class="space-y-4">
                            <div>
                                <label class="sr-only" for="title">Title</label>
                                <input class="w-full border rounded-lg border-gray-200 p-3 text-sm" placeholder="Title"
                                    name="listing[title]" type="text" id="title" />
                            </div>

                            <div>
                                <label class="sr-only" for="description">Description</label>

                                <textarea class="w-full border rounded-lg border-gray-200 p-3 text-sm"
                                    placeholder="Description" name="listing[description]" rows="8" id="description"></textarea>
                            </div>

                            <div>
                                <label class="sr-only" for="image">Image Link</label>
                                <input class="w-full border rounded-lg border-gray-200 p-3 text-sm"
                                    placeholder="Image Link" name="listing[image]" type="url" id="image" />
                            </div>

                            <div>
                                <label class="sr-only" for="Location">Location</label>
                                <input class="w-full border rounded-lg border-gray-200 p-3 text-sm"
                                    placeholder="Location" name="listing[location]" type="text" id="Location" />
                            </div>

                            <div class="grid grid-cols-1 gap-4 sm:grid-cols-2">
                                <div>
                                    <label class="sr-only" for="price">Price</label>
                                    <input class="w-full border rounded-lg border-gray-200 p-3 text-sm"
                                        placeholder="Price" type="number" name="listing[price]" id="price" />
                                </div>

                                <div>
                                    <label class="sr-only" for="country">Country</label>
                                    <input class="w-full border rounded-lg border-gray-200 p-3 text-sm" name="listing[country]"
                                        placeholder="Country" type="tel" id="country" />
                                </div>
                            </div>

                            <div class="mt-5">
                                <button type="submit"
                                    class="inline-block w-full rounded-lg bg-black px-5 py-3 font-medium text-white sm:w-auto">
                                    Send Enquiry
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </body>